<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wecoding.iam.server.mapper.TenantMapper">

    <resultMap id="BaseResultMap" type="top.wecoding.iam.server.entity.Tenant">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="tenant_name" property="tenantName"/>
        <result column="owner_id" property="ownerId"/>
        <result column="username" property="username"/>
        <result column="annotate" property="annotate"/>
        <result column="login_type" property="loginType"/>
        <result column="update_time" property="updateTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="create_time" property="createTime"/>
        <result column="created_time" property="createdBy"/>
    </resultMap>

    <sql id="columns">
        `id`, `tenant_id`, `tenant_name`, `owner_id`, `username`, `annotate`, `login_type`, `update_time`, `updated_by`, `create_time`, `created_by`
    </sql>

    <select id="getByTenantName" resultMap="BaseResultMap">
        SELECT
        <include refid="columns"/>
        FROM `iam_tenant` WHERE `tenant_name` = #{tenantName}
    </select>

    <select id="getByUsername" resultMap="BaseResultMap">
        SELECT
        <include refid="columns"/>
        FROM `iam_tenant` WHERE `username` = #{username}
    </select>

    <select id="getByTenantId" resultMap="BaseResultMap">
        SELECT
        <include refid="columns"/>
        FROM `iam_tenant` WHERE `tenant_id` = #{tenant_id}
    </select>

    <select id="page" resultMap="BaseResultMap">
        SELECT
        <include refid="columns"/>
        FROM `iam_tenant`
        <where>
            <if test="query.tenantNameFuzzy != null and query.tenantNameFuzzy != ''">
                AND `tenant_name` LIKE CONCAT('%', #{query.tenantNameFuzzy}, '%')
            </if>
            <if test="query.tenantIds != null and query.tenantIds.size > 0">
                AND `tenant_id` IN
                <foreach collection="tenantIds" item="item" open=" ( " separator="," close=" ) ">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="count" resultType="Integer">
        SELECT COUNT(1)
        FROM `iam_tenant`
    </select>

    <update id="updateTenantName">
        UPDATE `iam_tenant`
        SET `updated_by`  = #{updatedBy},
            `tenant_name` = #{newTenantName}
        WHERE `id` = #{id}
          AND `tenant_name` = #{oldTenantName}
    </update>

    <update id="updateTenantAnnotate">
        UPDATE `iam_tenant`
        SET `updated_by` = #{updatedBy},
            `annotate`   = #{annotate}
        WHERE `id` = #{id}
    </update>

</mapper>