<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wecoding.iam.server.mapper.UserGroupMapper">

    <resultMap id="BaseResultMap" type="top.wecoding.iam.server.pojo.UserGroup">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="user_id" property="userId"/>
        <result column="group_id" property="groupId"/>
        <result column="created_time" property="createTime"/>
        <result column="create_by" property="createdBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>

    <sql id="columns">`id`,`tenant_id`,`user_id`,`group_id`,`create_time`,`created_by`,`update_time`,`updated_by`</sql>

    <insert id="insertBatch">
        INSERT INTO `iam_user_group`
        (`tenant_id`,`user_id`,`group_id`,`create_time`,`created_by`,`update_time`,`updated_by`) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.tenantId} ,#{item.userId} ,#{item.groupId} ,NOW() ,#{item.updatedBy} ,NOW() ,#{item.updatedBy})
        </foreach>
    </insert>

    <select id="listByTenantIdAndGroupId" resultMap="BaseResultMap">
        SELECT
        <include refid="columns"/>
        FROM `iam_user_group`
        WHERE `tenant_id` = #{tenantId} AND `group_id` = #{groupId}
    </select>

    <select id="listByTenantIdAndGroupIdAndUserIdList" resultMap="BaseResultMap">
        SELECT
        <include refid="columns"/>
        FROM `iam_user_group` WHERE `tenant_id` = #{tenantId} AND `group_id` = #{groupId} AND `user_id` IN
        <foreach item="item" index="index" collection="userIds" open="(" separator="," close=")">#{item}</foreach>
    </select>

</mapper>