<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wecoding.iam.server.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="top.wecoding.iam.server.entity.User">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="pwd" property="password"/>
        <result column="user_state" property="userState"/>
        <result column="def_pwd" property="defaultPwd"/>
        <result column="last_login_ip" property="lastLoginIp"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="login_count" property="loginCount"/>
        <result column="update_time" property="updateTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="create_time" property="createTime"/>
        <result column="created_time" property="createdBy"/>
    </resultMap>

    <resultMap id="UserInfoResultMap" type="top.wecoding.iam.common.entity.UserInfo">
        <id column="user_id" property="userId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="name" property="name"/>
        <result column="username" property="username"/>
        <result column="nick_name" property="nickName"/>
        <result column="avatar" property="avatar"/>
        <result column="birthday" property="birthday"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="country" property="country"/>
        <result column="company" property="company"/>
        <result column="address" property="address"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="street_address" property="streetAddress"/>
        <result column="postal_code" property="postalCode"/>
        <result column="external_id" property="externalId"/>

        <result column="pwd" property="password"/>
        <result column="user_state" property="userState"/>
        <result column="last_login_ip" property="lastLoginIp"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="login_count" property="loginCount"/>
        <result column="external_id" property="externalId"/>
        <result column="create_time" property="createTime"/>
        <result column="tenant_id" property="tenantId"/>
    </resultMap>

    <sql id="userColumns">
        u.`update_time`, u.`updated_by`, u.`create_time`, u.`created_by`,
        u.`id`, u.`tenant_id`, u.`pwd`, u.`user_state`, u.`def_pwd`, u.`last_login_ip`, u.`last_login_time`, u.`login_count`
    </sql>

    <sql id="userProfileColumns">
        <include refid="top.wecoding.iam.server.mapper.UserProfileMapper.userProfileColumns"/>
    </sql>

    <select id="getById" resultMap="BaseResultMap">
        SELECT
        <include refid="userColumns"/>
        FROM `iam_user` u WHERE u.`id` = #{id}
    </select>

    <select id="getInfoById" resultMap="UserInfoResultMap">
        SELECT
        <include refid="userColumns"/>,
        <include refid="userProfileColumns"/>
        FROM `iam_user` u LEFT JOIN `iam_user_profile` up ON up.user_id = u.id
        WHERE u.`id` = #{id}
    </select>

    <select id="getInfoByUsername" resultMap="UserInfoResultMap">
        SELECT
        <include refid="userColumns"/>,
        <include refid="userProfileColumns"/>
        FROM `iam_user` u LEFT JOIN `iam_user_profile` up ON up.user_id = u.id
        WHERE up.`username` = #{username}
    </select>

    <select id="page" resultMap="UserInfoResultMap">
        SELECT
        <include refid="userColumns"/>,
        <include refid="userProfileColumns"/>
        FROM `iam_user` u LEFT JOIN `iam_user_profile` up ON up.user_id = u.id
        <where>
            u.`tenant_id` = #{query.currentTenantId}
            <if test="query.fuzzyName != null and query.fuzzyName != ''">
                AND up.`username` like CONCAT('%', #{query.fuzzyName}, '%')
            </if>
        </where>
    </select>

    <update id="flushLastLoginInfo">
        UPDATE `iam_user`
        SET `last_login_time` = NOW(),
            `last_login_ip`   = #{lastLoginIp},
            `login_count`     = `login_count` + 1
        WHERE `id` = #{id}
    </update>

    <update id="updateState">
        UPDATE `iam_user`
        SET `updated_by`  = #{updatedBy},
            `create_time` = NOW(),
            `user_state`  = #{newState}
        WHERE `id` = #{id}
          AND `user_state` = #{oldState}
    </update>

    <select id="count" resultMap="BaseResultMap">
        SELECT COUNT(1)
        FROM `iam_user` u
    </select>

</mapper>