name: Release

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"
    paths-ignore:
      - 'examples/**'
      - 'docs/**'
      - '**/*.md'
  workflow_dispatch: {}

# env:
#   # Use docker.io for Docker Hub if empty
#   REGISTRY: ''
#   REGISTRY_PREFIX: wecoding

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set ROOT_DIR environment variable
      run: echo "ROOT_DIR=$(pwd)" >> $GITHUB_ENV

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.19'

    - name: Get the version
      id: get_version
      run: |
        VERSION=${GITHUB_REF#refs/tags/}
        if [[ ${GITHUB_REF} == "refs/heads/main" ]]; then
          VERSION=latest
        fi
        echo "VERSION=${VERSION}" >> $GITHUB_ENV

    - name: Docker Login
      # You may pin to the exact commit or the version.
      # uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc
      uses: docker/login-action@v2.2.0
      with:
        # Server address of Docker registry. If not set then will default to Docker Hub
        registry: ${{ vars.REGISTRY }}
        # Username used to log against the Docker registry
        username: ${{ vars.DOCKER_USER }}
        # Password or personal access token used to log against the Docker registry
        password: ${{ secrets.DOCKER_PWD }}

    - name: Daily Release
      run: make push REGISTRY_PREFIX=${{ vars.REGISTRY_PREFIX }} BUILDX_OUTPUT_TYPE=registry PLATFORMS="linux/amd64"

